{% extends 'base.html' %}

{% load static %}

{% block content %}

<body>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>내가 헤로쿠 이긴다</h1>
                <p class="lead text-muted">make portfolio</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </section>


        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <img src="{% static 'flower.jpg' %}" alt="">
                                <h4>Sample of static</h4>
                                <p class="card-text">flower.jpg</p>
                            </div>
                        </div>
                    </div>

                    {% for portfolio in portfolios.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ portfolio.image.url }}" alt=" Card image cap">
                            <div class="card-body">
                                <h4>{{ portfolio.title }}</h4>
                                <p class="card-text">{{ portfolio.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </main>
</body>

{% endblock %}